body { 
font-family:'Verdana'; 
font-size:10px; 
margin: 0px; 
	background: #D5D5D5;
}

#wrap { 
width:960px; 
font-family:Verdana, Arial, Helvetica, sans-serif; 
font-size:10px; color:#666; 
margin:0 auto; 
background: #fff;
border-left: 4px solid #fff; 
border-right: 4px solid #fff;
border-top: 4px solid #fff;
padding:6px;
padding-bottom:15px;
}

#wrap img {
border:0px; 
}




div#header{
width:970px;
margin:0 auto;
background-image:url(bg.gif);
background-repeat:repeat-x;
height:85px;
border-left: 5px solid #fff; 
border-right: 5px solid #fff;
}
.top-Menu { 
padding-left:0px;
position:relative;
overflow:hidden;
height:26px;
margin:0 auto;
width:970px;
}
.top-Menu em { 
display: none
}
.top-Menu ul { 
list-style: none; 
margin: 0px; 
padding: 0;
}
.top-Menu ul li ul { 
display: none;
}
.top-Menu li { 
display: inline; 
color:#ffffff;
text-decoration: none;
}
.top-Menu a { 
text-decoration:none;
display: block;
color:#ffffff;
font-size:11px;
float: left;
font-weight:bold;
margin-top:3px;
padding:4px 13px 10px 13px;
border-right:1px solid #ffffff;
}

.top-Menu a:hover {
color:#ffffff;
font-weight:bold;
text-decoration: none;
text-decoration:underline;
}















/* Sidebar */	
#sidebar {
	float: left;
	width: 195px;	
	margin-top: 0px;	
margin-right:10px;
}	

/* Left & Right Content Area */
.Left {
float: left;
width: 190px;
padding: 0px 0 20px 0;
margin: 0 20px 0 0;
}
.Right {
float: right;
width: 190px;
padding: 20px 0 20px 0;
}
.Left .Block, .Right .Block {
}
.Left .BlockContent, .Right .BlockContent {
padding: 0 20px 0 20px;
}
.SideBox {
list-style: none;
background: url(bg_side_box.gif) 0 100% no-repeat;
padding: 0 0 20px 0;
margin: 0 0 20px 0;
}
.SideBoxTop {
margin: 0 0 10px 0;
padding: 0;
height: 5px;
font-size: 0;
background: url(http://yourupload.com/css/freshclean/inc/bg_side_h2.gif) 0 0 no-repeat;
}
.SideBox form {
margin: 0;
}
.SideBox input {
width: 140px;
margin: 0;
}
.Left ul {
list-style: none;
padding: 0;
margin: 0 0 0 -20px;
}
.Left li {
list-style: none;
padding: 0;
margin: 0;
}
.Left li a {
display: block;
width: 150px;
color: #1e292b;
font-size: 1em;
text-decoration: none;
background: url(http://yourupload.com/css/freshclean/inc/bg_btn_side_navi.gif) 0 100% no-repeat;
padding: 2px 0 5px 0;
margin: 0 0 0 20px;
}
.Left li a:hover {
color: #fe4819;
background-position: -150px 100%;
border: 0px;
}
.Left li.Selected {
background: url(http://yourupload.com/css/freshclean/inc/bg_side_navi_on.gif) 10px 9px no-repeat;
}
.Left li.Selected a {
background-position: -150px 100%;
}

.Left li.GroupTitle {
width: 160px;
font-weight: bold;
background: #E1E1E1;
padding: 5px 0px 5px 10px;
margin: 5px 0px 5px 0px;
}
.Left li.GroupTitle a {
width: auto;
margin: 0;
padding: 0;
background: transparent;
}
