body{width: 80%;font-family: arial,sans-serif;text-align: center;margin: 0 auto;font-size: 11px}
a {color: blue; text-decoration: none;}
a:hover {text-decoration: underline;}

.form {border: 1px solid lightgray; padding: 10px;}
.form div {line-height: 170%;}

.alert {border-top: 1px solid;border-bottom: 1px solid; padding: 5px; border-color: #215F1D; background: #95FF8F; color: #215F1D;}
.failure {color: #7F0F0F; background: #FF9F9F; border-color: #7F0F0F;}
.alert p {margin: 0; padding: 0;}

.right {text-align: right;}
.left {text-align: left;}
.center {text-align: center;}

.side_margins{margin-left:5px;margin-right:5px;}

#header_frame{padding: 20px;}
.banner_nav{float:left;font-size:12px;}
#site_name{margin-top:30px;font-size:40px;font-weight: bold;text-align:left;}
.mainNavFrame{width:840px;padding: 5px;margin-left:0px;text-align:left;}
.mainNav{margin-left:5px;font-size:14px;font-weight:bold;}
.banner_nav a,.mainNav a{text-decoration:none;}
.banner_nav a:hover,.mainNav a:hover{text-decoration:underline;}
.content{margin-top:0px;width:838px;text-align:left;padding:5px;}
#footer{width:848px;height:30px;text-align:center;font-size: 12px;}
#footer div{margin-top:5px;}

#add_task{font-size:13px;}
h1,h4{margin-left:5px;}

table {margin-bottom:25px;}
.tbl {margin-left:10px;margin-right:10px;width:97%; font-size: 11px;}
table th {font-weight:bold;font-size:13px;text-align:center;}
table .odd {background-color:#F9F9F9;}
table .even {background-color:#EFEFEF;}

.actions, .search {margin-left:10px;margin-top:20px;}
.action_link{margin-left:10px;margin-bottom:20px;font-weight:bold;}

.form_tbl {margin-left:10px;width:70%;margin-right:40px;font-size:12px;}
.form_tbl .label {width:150px;}

.form_tbl small {font-size:9px;}
.input_fields, .search input[type="text"] {width:400px;}

.redirection {margin-top:200px;}
.redirection h1{margin-bottom:10px;}
